html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F5F5F5;
  scroll-behavior: smooth;
  color: #66567A;
}

header, footer {
  background-color: #A9A9A9;
  color: #696969;
  text-align: center;
  padding: 20px;
  transition: background-color 0.3s ease;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #CFBFD8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
  transition: background-color 0.3s ease;
  margin-top: -40px;
}

nav ul {
  list-style: none;
  padding: 15px 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background-color: #B1A0D0;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
  font-size: 14px;
  outline: none;
}

nav a:hover {
  background-color: #A392C0; 
  transform: scale(1.05);
  color: #ffffff;
}

main {
  padding: 40px 20px 20px 20px;
  flex: 1;
  background-color: #FCF8FF;
}

section {
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

footer {
  margin-top: auto;
  background-color: #CFBFD8;
}

header {
  margin-top: 0; 
  padding: 40px 0px;
  background-color: #C7B7DE;
  color: #A9A9A9;
  text-align: center;
  transition: background-color 0.3s ease;
}

header h1 {
  margin-top: 60px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  color: #66567A;
}

header h1.visible {
  opacity: 1;
  transform: translateY(0);
}

.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 400px));
  gap: 20px;
  padding: 40px 0;
  justify-content: center; 
}

.team-member {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 15px;
  padding: 10px; 
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 300px;
}

.team-member:hover {
  transform: translateY(-15px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team-member img {
  width: 120px; 
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.team-member:hover img {
  transform: scale(1.1);
}

.team-member .role {
  font-weight: bold;
  color: #555555;
  margin-bottom: 15px;
}

.team-member .description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(169, 169, 169, 0.9);
  color: #FFFFFF;
  padding: 15px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.team-member:hover .description {
  opacity: 1;
  transform: translateY(0);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px 0;
}

.project-card {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card img {
  width: 100%;
  max-width: 200px; 
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.project-card:hover img {
  transform: scale(1.05);
}

.project-card h3 {
  margin: 10px 0;
  color: #333333;
}

.project-card .project-description {
  color: #555555;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .project-card {
    padding: 15px;
  }

  .project-card img {
    margin-bottom: 10px;
    max-width: 150px; 
  }

  .project-card h3 {
    font-size: 1.2em;
  }

  .team-member {
    padding: 10px; 
    min-height: 250px; 
  }

  .team-member img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  .team-member .description {
    padding: 10px;
  }
}

.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.signup-button {
  padding: 12px 24px;
  background-color: #B1A0D0;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.signup-button:hover {
  background-color: #696969;
  transform: scale(1.05);
}
.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333333;
}

.signup-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.signup-form input:focus {
  border-color: #A9A9A9;
  outline: none;
}

.signup-form button {
  padding: 10px;
  background-color: #B1A0D0;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #A392C0;
}

.error-message {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}
section {
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}
.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app-container main {
  padding-top: 20px;
}

#about p,
#contact p {
  color: #A398C1;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333333;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.login-form input:focus {
  border-color: #A9A9A9;
  outline: none;
}

.login-form button {
  padding: 10px;
  font-size: 15px;
  background-color: #B1A0D0;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #A392C0;
}

.error-message {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.logout-button {
  text-decoration: none;
  color: #ffffff; 
  font-weight: bold;
  background-color: #B1A0D0; 
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
  font-size: 14px;
  outline: none;
  border: none; 
  cursor: pointer;
  display: inline-flex;
  align-items: center;  
  justify-content: center; 
  height: 100%; 
  margin: 0; 
}

.logout-button:hover {
  background-color: #A392C0; 
  transform: scale(1.05);
  color: #ffffff; 
}
.home-boxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
}

.home-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  box-shadow: none;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-box.background-1 {
  background-color: #F0F4F8;
}

.home-box.background-2 {
  background-color: #D9E2EC;
}

.home-box:hover {
  background-color: #E0E0E0; 
  transform: scale(1.02);
}

.home-box img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.home-box p {
  font-size: 1.5em;
  color: #333333;
}

.home-button {
  display: none;
}

.home-box-link {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.home-box .arrow {
  margin-left: auto;
  font-size: 24px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.home-box:hover .arrow {
  transform: translateX(5px);
  color: #4CAF50;
}

.home-box .arrow {
  color: #333333;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.moving-circle.inhale {
  background-color: #4CAF50; 
}

.moving-circle.hold {
  background-color: #2196F3; 
}

.moving-circle.exhale {
  background-color: #f44336; 
}

.restart-button {
  margin-top: 20px;
}

.phase-label.visible {
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

.message {
  color: green;
  margin-bottom: 15px;
  text-align: center;
}
.newsletter-container2 {
  max-width: 500px;
  margin: 15px auto 40px auto;
  padding: 13px 20px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
}
.center-content {
  justify-content: center;
}
.project-card button {
  padding: 10px 20px;
  background-color: #B1A0D0;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.project-card button:hover {
  background-color: #A392C0;
}

.donate-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px; 
  background-color: #c1baee;
  color: #FFFFFF; 
  text-decoration: none; 
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 1001; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.donate-bar:hover {
  background-color: #B1A0D0;
  transform: scale(1.05); 
  cursor: pointer;
}

.donate-container {
  max-width: 600px;
  margin: 0 auto 20px auto;
  padding: 20px 20px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.donate-form {
  display: flex;
  flex-direction: column;
}

.donate-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333333;
}

.donate-form input,
.donate-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.donate-form input:focus,
.donate-form textarea:focus {
  border-color: #A9A9A9;
  outline: none;
}
.donate-form button {
  padding: 10px;
  background-color: #B1A0D0;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.donate-form button:hover {
  background-color: #A392C0;
}

.donate-section {
  margin-bottom: 0px !important;
}

.message {
  color: green;
  margin-bottom: 15px;
  text-align: center;
}

.hero-section {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #ffffff;
  margin-top: -15%;
  margin-bottom: -17%;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
}

.hero-content {
  text-align: center;
  background-color: #9c84b3;
  padding: 40px;
  margin-top: 45px;
  border-radius: 10px;
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.hero-button {
  padding: 15px 30px;
  background-color: #B1A0D0;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #A392C0;
  transform: scale(1.05);
}

.testimonials-section {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.carousel {
  position: relative;
  max-width: 800px;
  margin: 40px auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
  position: relative;
}

.testimonial-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.home-main {
  margin-top: 90px;
}
.left-arrow,
.right-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #333333;
  font-weight: bold;
  font-size: 24px;
  transition: color 0.3s ease;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.left-arrow:hover,
.right-arrow:hover {
  color: #4CAF50;
  background-color: rgba(255, 255, 255, 1);
}

@media (max-width: 600px) {
  .left-arrow,
  .right-arrow {
    display: none;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.dropdown {
  position: relative;
}

.dropbtn {
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  background-color: #B1A0D0;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown-content {
  position: absolute;
  background-color: #CFBFD8;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.dropdown-content a {
  color: white;
  font-weight: bold;
  padding: 12px 16px;
  margin: 10px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #A392C0;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 5px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown:hover .dropbtn {
  background-color: #A392C0;
}
.media-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.media-icons {
  width: 100%;
  height: 100%;
  max-width: 210px;
  max-height: 210px;
  margin: auto;
  padding-left: 0px !important;
  padding-inline-start: 0px !important;
  display: flex;
  justify-content: center; 
  margin-top: 10px;        
}
.media-logo {
  display: block;
  margin-left: 10px;
  margin-right: 10px
}
.media-icons img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  min-width: 50px;
  min-height: 50px;
  max-width: 51px;
  max-height: 51px;
}
.newsletter-signup h2{
  margin: auto;
}
.newsletter-container {
  max-width: none;
  margin: 0 auto;
  padding: 20px 20px 0px 10px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-items: space-evenly;
  display: flex;
}
.newsletter-wrapper {
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  max-width: none;
}
.newsletter-form {
  display: flex;
  flex-direction: column;
  max-width: 500px !important;
  min-width: 500px !important;
}

.newsletter-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333333;
}

.newsletter-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.newsletter-form input:focus {
  border-color: #A9A9A9;
  outline: none;
}

.newsletter-form button {
  padding: 10px;
  background-color: #B1A0D0;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #A392C0;
}
.media-container {
  align-items: start !important;
  align-content: start !important;
  justify-content: flex-start !important;
  display: flex;
  margin-right: auto;
}
.media-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.newsletter-signup-container {
  align-content: end;
  justify-content: flex-end;
}